.image_about{
    width: 100%;
    display: flex;
}
.about_us_main{
    margin-top: 100px;
}
.about_image{
    width: 50%;
}
/* .about_image>img{
    width: 90%;
    margin: 0 auto;
} */
.about_text{
    width: 50%;
    padding: 20px;
    margin: auto 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    
    
}
.who{
    padding: 10px 30px;
    background-color: rgb(228, 255, 240);;
    color: var(--main);
    /* font-size: 18px; */
    /* font-weight: 400; */
    /* opacity: 0.8; */
    border-radius: 20px;
    width: fit-content;
    
}
@media screen and (max-width: 900px){
    .image_about{
        flex-direction: column;
    }
    .about_image,.about_text{
        width: 100%;
        text-align: center;
    }
    .who{
        margin: 0 auto;
    }
    .about_text>h1{
        margin: 0 auto;
    }



}
