.section_two{
    display: grid;
    grid-template-columns: 50% 50% ;
}
.sectionTwo_two{
    display: grid;
    grid-template-columns: 50% 50% ;

}
.sectionTwo_main{
    display: grid;
    grid-template-columns: 40% 60%;
}
.section_grid{
    padding: 40px;
    background-color: rgb(228, 255, 240);
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sectionTwo_grid{
    padding: 40px;
    background-color: #f9f9f9;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.sectionTwo_one{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 80%; */
    /* margin: 0 auto; */
    padding-top: 40px;
}
.section_con{
    margin-top: 150px;
}
.section_one{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
   margin-bottom: 20px;
   text-align: center;
}